{% extends "base/base.html" %}

{% block content %}
    <div class="main-aboutus">
        <div class="aboutus-div">
            <h1>About us</h1>
        </div>
        <div class="cool-phrase">
            <h2>“Through the thorns to the stars”</h2>
        </div>
        <div class="main-div">
            <p>As SHOP-IT company we are make websites for your orders</p>
            <h1>We offer</h1>
            <div class = "offer-content">

            </div>
            <h1>Our members</h1>
            <div class="members-div">
                <!-- Дополнить после  -->
                <div class = "card-members">
                    <img src="" alt="Your image" class="img-member">
                    <p class="card-text">Member</p>
                    <p class="card-text">Age</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}